.hamNav {
    width: 100%;
    background: var(--black);
    position: sticky;
    top: 0;
    z-index: 999;
}
.active {
    color: var(--light-yellow) !important;
    font-weight: bold;
    background-color: var(--black) !important;
}

.hamNavLog {
    margin: auto;
}

.radius {
    background: var(--black);
    border-radius: 15px;
}

.hamNav label, .hamburger {
    display: none;
}

.hamItems {
    display: flex;
}
.hamItems:hover a{
    text-decoration: none !important;
}
.NavLinkStyle {
    color: white;
}
.NavLinkStyle:hover {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.hamItems a {
    width: 15%;
    padding: 10px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .hamNav label {
        display: inline-block;
        color: white;
        background: var(--black);
        font-style: normal;
        font-size: 1.2em;
        margin: auto;
        padding: 10px;
        z-index: 999;
    }

    .hamItems a {
        box-sizing: border-box;
        display: block;
        width: 100%;
        border-bottom: 1px solid #333;
    }

    .hamItems { display: none;}
    .hamNav input:checked ~ .hamItems {display: block;}


}

.signupLink {
    color: var(--light-yellow);
    cursor: pointer !important;
}
.signupLink:hover {
    font-weight: bold;
    color: var(--light-yellow);
    cursor: pointer !important;
}



