.MainNav {
    color: white;
    background-color: #191716;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    
}

.accPanelStyle {
    display: flex;
    
}

.NavLink {
    background: #3d348b;
    text-align: center;
    padding: 8px;
    border-radius: 30px;
    color: #fff;
}

.NavLink-out {
    margin-left: 5px;
    background: #3d348b;
    text-align: center;
    padding: 8px;
    border-radius: 30px;
    color: #fff;
}

.NavAccName {
    background: #3d348b;
    text-align: center;
    padding: 8px;
    color: rgb(255, 255, 255);
}

.navButtonStyle {
    background: #3d348b;
    text-align: center;
    margin-left: 20px;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
}



