.hamnav {
    width: 100%;
    background: #1d2124;
    position: sticky;
    top: 0;
    z-index: 999;
}

.loginInfo {
    color: #1c7430;
}

.hamnavLog {
    margin: auto;
}

.radius {
    background: #1b1e21;
    border-radius: 15px;
}

.hamnav label, .hamburger {
    display: none;
}

.hamItems {
    display: flex;
}

.hamItems a {
    width: 15%;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
}
.loginInfo {

}

@media screen and (max-width: 768px) {
    .hamnav label {
        display: inline-block;
        color: white;
        background: #1d2124;
        font-style: normal;
        font-size: 1.2em;
        padding: 10px;
        z-index: 999;
    }

    .hamItems a {
        box-sizing: border-box;
        display: block;
        width: 100%;
        border-top: 1px solid #333;
    }

    .hamItems { display: none;}
    .hamnav input:checked ~ .hamItems {display: block;}


}



