@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

.GalleryGrid {
    display: flex;
    flex-direction: row;
    

}
.highlightStyle {
    display: flex;
    justify-content: center;
}

.activeSlide {
    transform: scale(0.2);
}
