@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

.galleryStyle {
    width: 100vw;
}

.highlightStyle {
    display: flex;
    justify-content: center;
}

.sliderStyle {
    display: flex;
    width: 100vw;
    margin-right: auto;
    margin-left: auto;
}
