.BeerViewStyle {
    /*margin: 2px;*/
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    list-style: none;
    font-size: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*width: 100%;*/
    border: solid;
    border-radius: 12%;


    
    

}

.beerImageStyle {
   height: 240px;

}