.GalleryGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    

}

@media only screen and (max-width: 1000px){
    .GalleryGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 650px){
    .GalleryGrid{
    display: grid;
    grid-template-columns: 1fr;
    }
}