.HighlightedBeerStyle {
    padding-top: 10px;
    margin: 5px;
    list-style: none;
    display: inline-flex;
    font-size: 120%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.HighlightedBeerImageStyle {
    height: 450px;
    margin: 5px;
}