.bodyStyle {
    margin-top: auto;
    margin-bottom: auto;
    filter: saturate(80%);

}

.labelText {
    margin-top: 4px;
    margin-bottom: 0px;
    font-size: 22px;
    color: #c5ecfd;
}

.wrapperStyle {
margin: 2px;
    z-index: 99;
}

.formStyle {
    max-width: 400px;
    margin: auto;
    background-color: #191716;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    box-shadow: 0 0 15px rgba(0,0,0,0.13);


}

.inputStyle {
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}

.inputStyle {
    width: 100%;
}

.inputStyle .input{
    margin: 5px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #c5ecfd;
    padding: 15px;
    color: #c5ecfd;
    width: 100%;
    }


.buttonStyle {
    background: #3d348b;
    text-align: center;
    padding: 12px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;

}

.addBeerImageStyle {
    height: 340px;
    width: 150px;
    margin-bottom: 5px;
}
